@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
button,
textarea {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;

  &:hover {
    color: #ff8000;
  }
}

header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

  a {
    color: #ffffff;
    text-decoration: none;
  }
}

main {
  grid-area: main;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}

/* products */

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    flex: 0 1 29rem;
    height: 47rem;
    padding: 1rem;
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 5px solid #000;
  border-radius: 5px;
  width: 35rem;
  overflow: hidden;

  p {
    text-align: center;
  }

  .product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    justify-content: space-evenly;
  }

  .picture-frame {
    min-height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      max-width: 30rem;
      max-height: 30rem;
    }
  }

  .more-info {
      font-size: 2em;
      font-weight: bold;
      background-color: #f0c040;
      border-radius: 50%;
      margin-left: 10px;
      margin-bottom: 10px;
      width: 10%;
      text-align: center;
      color: black;
      font-family: serif;
      font-style: italic;
  }
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  div,
  button {
    text-align: center;
    flex: 1;
  }

  div {
    font-size: 2rem;
  }
}

.button {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #f0f0f0;
  cursor: pointer;

  &:hover {
    border: 0.1rem #808080 solid;
  }

  &.primary {
    background-color: #f0c040;
  }
}

/* Index.css */

.cart {
  padding: 1rem;
  margin: 1rem;
  display: flex;
}

.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;

  img {
    width: 5rem;
  }

  li {
    display: flex;

    div {
      padding: 0.5rem;

      &:last-child {
        flex: 1;
      }
    }
  }
}

.right {
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  > {
    div {
      font-size: 2rem;
      flex: 1;
    }

    button {
      flex: 1;
    }
  }
}

/* Checkout form */

form {
  width: 100%;
}

.form-container {
  width: 100%;
  padding: 0;
  list-style-type: none;

  li {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}

input {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
}

/* Product Details */

.product-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 96vh;

  img {
    max-height: 100vh;
    max-width: 46rem;
    margin: 0 auto;
  }
}

.product-details-description {
  flex: 1 1;
  margin: 1rem;
}

.close-modal {
  position: absolute;
  right: 1rem;
  top: 2.5rem;
  z-index: 1000;
}

/* Order Details */

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      padding: 10px;
    }
  }

  .items {
    text-align: right;
    padding: 0;
  }
}

.success-message {
  color: green;
}

/* Orders */

.orders {
  width: 100%;
  padding: 10px;
}

tbody > tr:nth-child(odd) {
  background-color: #f0f0f0;
}

td {
  padding: 5px;
}

th {
  text-align: left;
}
